.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.form input{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  border: 2px solid rgb(87, 81, 81);
  border-radius: 5px;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
  transition: all 0.5s;
}

.form input:focus{
  border: 2px solid var(--btn);
}

.form button{
  position: absolute;
  left: 40% ;
  margin-top: 20px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: rgb(72, 58, 85);
  color: var(--text);
}

.register{
  position: absolute;
  bottom: -100px;
}